/* Общие стили */
body {
    background: black url(../images/фон.jpg) center top fixed no-repeat;
    background-size: cover;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    background-color: #444;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Стили для header */
header {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: black; 
    color: azure;
    font-family: Verdana;
    font-size: x-large;
    text-align: center;
}

/* Стили для иконки регистрации в header */
header img {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 25px;
    width: 25px;
}

/* Стили для main */
main {
    position: relative;
    top: 50px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
    background-color: rgb(30, 30, 30);
}

/* Cтили для фильтра */
.filter-container {
    display: flex;
    justify-content: right;
}

#genre-filter {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Стили для поисковой формы */
#search-form {
    margin: 10px;
    display: flex;
    justify-content: right;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 14px;
}
 
/* Стили для flex-контейнера и элементов */
.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    -webkit-text-fill-color: beige;
}

.item {
    position: relative;
    background-color: black;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}

/*Стили для содержимого элементов*/
.item h2 {
    text-align: center;
}

.item ul {
    list-style-type: none;
    text-align: left;
    margin-left: -25px;
}

.item p {
    text-align: left;
    margin-left: 15px;
}

.item img {
    width: 100%;
    height: 100%;
    transition: filter 0.4s ease;
}

.item:hover img {
    filter: blur(2px) brightness(0.7) contrast(0.9);
}
  
.description {
    width: 90%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
}

.item:hover .description {
    opacity: 1; /*при наведении курсора на картинку появляется текст*/
}

/* Стили для footer */
footer {
    -webkit-text-fill-color: darkorange;
    height: 60px;
    margin-left: 10px;
    margin-bottom: 30px;
}

footer address {
    font-style: italic; 
}

/* Стили для ссылок */
.flex-container a:visited {
    color: beige;
}

footer a:visited {
    color: purple;
}

/* Адаптивная верстка */
@media screen and (max-width: 750px) {
    header {
        font-size: large;
    }

    header img {
        position: absolute;
        right: 10px;
    }

    .filter-container {
        justify-content: center;
    }

    #search-form {
        justify-content: center;
    }

    #search-input {
        font-size: 12px;
    }

    button[type="submit"] {
        padding: 8px 16px;
        font-size: 12px;
    }

    .item {
        font-size: 12px;
    }
}
