/* Общие стили */
body {
    background: black url(../images/фон.jpg) center top fixed no-repeat;
    background-size: cover;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    background-color: #444;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Стили для header */
header {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: black; 
    color: azure;
    font-family: Verdana;
    font-size: x-large;
    text-align: center;
}


header .return{
    margin-top: 5px;
    text-align: right;
}

header .return a {
    font-family: Arial;
    font-size: large;
    color: azure;
}

/* Стили для иконки регистрации в header */
header img {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 25px;
    width: 25px;
}

/* Стили для main */
main {
    position: relative;
    top: 80px;
    padding: 10px;
    height: 100%;
    margin: 20px;
    background-color: rgb(30, 30, 30);
    -webkit-text-fill-color: beige;
}

/* Стили для описания фильма */
.flex-container {
    display: flex;
    margin: 20px;
}

.movie-details {
    font-size: 18px;
}

.movie-details ul {
    list-style-type: none;
    padding-left: 20px;
}

#movie-image {
    width: 100%;
    height: 100%;
}

#movie-title {
    text-align: center;
}

#movie-description {
    text-align: left;
    margin-left: 20px;
}

/* Стили для footer */
footer {
    -webkit-text-fill-color: darkorange;
    height:60px;
    margin-left: 10px;
    margin-bottom: 30px;
    height: 100%
}

footer address {
    font-style: italic; 
}

footer a:visited {
    color: purple;
}

/* Адаптивная верстка */
@media screen and (max-width: 750px) {
    header {
        font-size: large;
    }

    header img {
        position: absolute;
        right: 10px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .movie-details {
        font-size: 14px;
    } 
}

@media screen and (max-width: 750px) {
    iframe {
        height: 350px;
    }
}

@media screen and (min-width: 751px) and (max-width: 1000px) {
    iframe {
        height: 450px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1440px) {
    iframe {
        height: 600px;
    }
}

@media screen and (min-width: 1440px) {
    iframe {
        height: 850px;
    }
}
